.pagination

	position: relative
	margin-right: 10px
	padding: 10px
	@include transition(all .4s)

.pagination-number

	position: relative
	margin-right: 10px
	padding: 5px
	cursor: pointer
	color: black
	@include transition(all .4s)

	&:hover

		background: white


.pagination-wearehere-number

	position: relative
	margin-right: 10px
	padding: 5px
	cursor: default
	color: #9e0b0f
	@include transition(all .4s)